*{
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    width: 10vh;
    height: 5vh;
    border: 1px solid brown;
    text-align: center;
    color: blue;
}